.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 1rem 1.25rem;
    position: fixed;
    z-index: 999;
}

.headerIcons {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.scrolledHeader {
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0 0 5px 5px;
}

.cartItems {
    position: absolute;
    color: #FFF;
    font-size: 0.6rem;
    font-weight: 500;
    right: 2px;
    bottom: 0;
    font-family: Raleway;
}

@media screen and (min-width: 600px) {
    .header {
        max-width: 600px;
    }
}