.article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Raleway;
    padding-bottom: 3rem;
}

.article img {
    max-width: 100%;
}

.article h3 {
    font-weight: 800;
    font-size: 1rem;
}

.article p {
    font-size: 0.75rem;
    color: #353A42;
    font-weight: 300;
}

.article a {
    font-size: 0.75rem;
    color: #181818;
    text-decoration: underline;
}