.linkButton {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  color: #0D98E6;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 400px) {
    .App {
      max-width: 425px;
      margin: 0 auto;
    }
  }