.section {
    padding: 3rem 0;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.titles {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.newsList {
    display: flex;
    gap: 1rem;
    padding: 0 1.25rem;
    overflow-y: scroll;
}

.arrows {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.swiperItem {
    display: flex;
    gap: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.newsList::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
.newsList {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
